---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.4.10"
    hooks:
      - id: ruff
      - id: ruff-format
      - id: ruff-format

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.5
    hooks:
      - id: check-github-workflows
      - id: check-github-actions

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: "3.2.141"
    hooks:
      - id: checkov
        verbose: false
        args:
          [
            --skip-check=CKV2_AZURE_33,
            --skip-check=CKV2_AZURE_1,
            --skip-check=CKV_AZURE_206,
            --skip-check=CKV_AZURE_33,
          ]
